<% title("Home Page") %>
<html>
	<body { background-image: url("http://overnature.com/uploads/photo/original/177-paysage-merveilleux.jpg") }> 
		<bgproperties="fixed">
		<header><div class="az">
			<h1>Sparclaytte Games</h1>
			</div>
		</header>	

		<nav style="background-image:url("http://overnature.com/uploads/photo/original/177-paysage-merveilleux.jpg");
		width:auto;
	height:auto;no-repeat;">

				<a class="menu" href="http://dayz.fr/">
				Site dayz</a>
				<a class="menu" href="http://http://www.l4d.com/game.html">Left For Dead 2</a>
				<a class="menu" href="http://www.thinkwithportals.com/">Portal 2</a>
				<a class="menu" href="http://www.grandtheftauto5.fr/">Site gta 5 français</a>
				
		</nav>	

   <h4 class="presentation">Salut moi c'est nico AkA Sparclaytte,
       retrouvez ici des liens</br> vers les jeux auquels je joue souvent</h4>	
       
	   <H3>Découvrez mes diverses vidéos ingame sur youtube</H3>

	     <p class="textevideo">Ici une video de moi sur battlefield 3</p>
	     <iframe class="nico" width="560" height="315" src="https://www.youtube.com/embed/0OMaghjOpC4" frameborder="0" allowfullscreen></iframe>
	     <p class="textevideo">La une video de moi sur Team Fortress 2</p>
	     <iframe class="nico" width="560" height="315" src="https://www.youtube.com/embed/B46QT1aqzrk" frameborder="0" allowfullscreen></iframe>
	     <p id="textesoundcloud">Je fait aussi un peu de MAO
	     	retrouvez ci dessous quelques uns de mes sons</p>
	     <iframe class="nico" width="560" height="150" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/59926774&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=true&amp;visual=true"></iframe>
	     <iframe class="nico" width="560" height="150" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/57189279&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
	     <iframe  class="nico" width="560" height="150" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/57187480&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>

	</body>
</html>