<div id="footer">
  <div class="container">

    <div class="row footer-first-row">

      <div class="col-xs-12 text-center">
        <p><small>
          &copy; <%= Time.now.year %> - Par nico aka Sparc pour simplonVE!
          <br/>
          Construit avec passion grace a <%= link_to "RailsBricks", "http://www.railsbricks.net" %>
          <br/>
          Dynamiquement propulsé par <%= link_to "Heroku", "https://www.heroku.com/" %>
        </small></p>
      </div>

    </div>

  </div>
</div>

